{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Historique des devis{% endblock %}

{% block body %}
<main class="main-admin">
    <h1>Devis clôturés</h1>
        {{ include('components/_search_data.html.twig', {'searchForm': searchForm}) }}
            {% if devisHistorique is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de la demande</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for devis in devisHistorique %}
                    <tr>
                        <th scope="row">{{ devis.id }}</th>
                        <td>{{ devis.nom }} {{ devis.prenom }}</td>
                        <td>{{ devis.dateDevis|date('d/m/Y à H:i') }}</td>
                        <td><a href="{{ path('show_devis', {'id': devis.id}) }}">Gérer le devis</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Aucun devis trouvé.</p>
            {% endif %}


{% endblock %}
            