{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Gestion des devis{% endblock %}

{% block body %}
<main class="main-admin">
    {% for label, messages in app.flashes %}
    {% set alertClass = (label == 'error') ? 'danger' : label %}
        {% for message in messages %}
            <div class="alert alert-{{ alertClass }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Liste des devis en attente</h1>
    {% if devisEnCours %} 
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de la demande</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for devis in devisEnCours %}
                <tr>
                    <th scope="row">{{ devis.id }}</th>
                    <td>{{ devis.nom }} {{ devis.prenom }}</td>
                    <td>{{ devis.dateDevis|date('d/m/Y à H:i') }}</td>
                    <td><a href="{{ path('show_devis', {'id': devis.id}) }}">Gérer le devis</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">#</th>
                    <td>Pas de devis en attente.</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</main>
{% endblock %}
