{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Détail du devis{% endblock %}

{% block body %}
<main class="main-admin">
    <h1>Devis</h1>
    <table class="table table-striped">
            <thead>
                {% if devis.statut is same as 'En cours' %}
                    <tr class="table-warning">
                {% else %}
                    <tr class="table">
                    {% endif %}
                        <th scope="col">Date de la demande</th>
                        <th scope="col">Dernière modification</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ devis.dateDevis|date('d/m/Y') }}</td>
                    <td>{{ devis.dateModification|date('d/m/Y') }}</td>
                    <th class="row">{{ devis.statut }}</th>
                </tr>
                </tbody>
            </table>

 <div class="card mb-4">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Informations personnelles</h4>
    </div>
    <div class="card-body">
        <p><strong>Nom :</strong> {{ devis.nom }} {{ devis.prenom }}</p>
        <p><strong>Email :</strong> {{ devis.email }}</p>
        <p><strong>Téléphone :</strong> {{ devis.tel ?? 'Donnée non renseignée' }}</p>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Informations du véhicule</h4>
    </div>
    <div class="card-body">
        <p><strong>Marque :</strong> {{ devis.vehicule.marque }}</p>
        <p><strong>Modèle :</strong> {{ devis.vehicule.modele }}</p>
        <p>
            <strong>Année de fabrication :</strong>
            {{ devis.vehicule.anneeFabrication ?? 'Donnée non renseignée' }}
        </p>
        <p>
            <strong>Kilométrage :</strong>
            {{ devis.vehicule.km ?? 'Donnée non renseignée' }}
        </p>
        <p>
            <strong>Carburant :</strong>
            {{ devis.vehicule.carburant.typeCarburant ?? 'Donnée non renseignée' }}
        </p>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Demande de devis</h4>
    </div>
    <div class="card-body">
        <p><strong>Type de prestation:</strong> {{ devis.prestation.nomPrestation }}</p>
        <p><strong>Demande:</strong> </p>
            {{ devis.text }}
    </div>
</div>


    {% if devis.statut == 'En cours' %}
         <div class="alert alert-warning" role="alert">
            <p class="mb-1"><strong>Ce devis est en attente de traitement.</strong></p>
            <p class="mb-3">Si ce devis a déjà été traîté, veuillez le clôturer en cliquant sur le bouton associé.</p>
                <div class="d-flex gap-2">
                    <a href="{{ path('gestion_devis_action', {'id': devis.id, 'action': 'cloturer'}) }}" class="btn btn-success">
                        <i class="fa-solid fa-check"></i> Devis traîté
                    </a>
             <a href="{{ path('gestion_devis_action', {'id': devis.id, 'action': 'decline'}) }}" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i> Refuser le devis
            </a>
        {% else %}
            <a href="{{ path('app_admin_devis_update', {'id': devis.id }) }}" class="btn btn-outline-dark"
            onclick="return confirm('Êtes vous sûre de vouloir rendre ce devis actif à nouveau ?');">
                <i class="fa-solid fa-pencil"></i> Mettre à jour le statut
            </a>
            <a href="{{ path('gestion_devis_action', {'id': devis.id, 'action': 'delete'}) }}" class="btn btn-outline-danger"
            onclick="return confirm('Êtes vous sûre de vouloir supprimer ce devis ? Cette action est irreversible.');">
                <i class="fa-solid fa-ban"></i> Supprimer le devis
            </a>    
        {% endif %}
</main>
{% endblock %}
