{% extends 'base.html.twig' %}

{% block metadescription %}Garage 2JC à Altkirch : entretien, réparation, carte grise, véhicules d'occasion.{% endblock %}
{% block keywords %}garage Altkirch, entretien voiture, carte grise, véhicules occasion, réparation auto{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Garage 2JC à Altkirch | Entretien, réparation & véhicules d’occasion{% endblock %}

{% block nav %}{{ include('components/_nav_bar.html.twig') }}{% endblock %}
{% block footer %}{{ include('components/_footer.html.twig') }}{% endblock %}

{% block body %}
<main class="main-home">
    <section id="hero">
        <div class="hero-overlay">
            <div class="hero-content">
            {% for label, messages in app.flashes %}
            {% set alertClass = (label == 'error') ? 'danger' : label %}
                {% for message in messages %}
                    <div class="alert alert-{{ alertClass }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
                <h1>Garage 2JC automobiles</h1>
                <h2>Entretien, réparation et vehicules d'occasion</h2> 
                <a class="cta-blue" role="button" href="{{ path('app_rdv_client') }}">Prendre rendez-vous</a>  
                    <a class="chevron-down" href="#ancreBas"><i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i></a>
            </div> 
        </div>
    </section>
    <div id="ancreBas"></div>
    <section class="container-fluid home-1">
        <div class="div-home">
            <a class="links-home" role="button" href="{{ path('app_devis_client') }}">
                <i class="fa-solid fa-wrench icon-custom" style="color:#FFFFFF;"></i>
                <h2>Demander un devis</h2>
                <p>
                    Détaillez votre besoin, <br>
                    on s’occupe du reste. <br>
                    Sans engagement, et 100% gratuit.     
                </p>
            </a>
        </div>
        <div class="div-home">
            <a class="links-home" role="button" href="{{ path('app_vo') }}">
                <i class="fa-solid fa-car icon-custom" style="color:#FFFFFF;"></i>
                <h2>Parc automobile</h2>
                <p>
                    Découvrez nos véhicules d’occasion<br> 
                    révisés et garantis. <br>
                    Service de carte grise  sur place.
                </p>
            </a>
        </div>
        <div class="div-home">
            <a class="links-home" role="button" href="{{ path('app_contact') }}">
                <i class="fa-solid fa-envelope icon-custom" style="color:#FFFFFF;"></i>
                <h2>Nous contacter</h2>
                <p>
                    Une équipe à votre écoute<br>
                    pour répondre à toutes vos questions<br>
                    et vous accompagner au mieux.
                </p>
            </a>
        </div>
    </section>
    <section class="effet_parallaxe">
        <div class="parallaxe">
            <h2>PETIT SLOGAN ACCROCHEUR</h2>
                <p>
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... 
                </p>
        </div>
    </section>
    <section class="container-fluid home-2">
        <div class="block-service service">
            <figure>
                <img src="{{ asset('images/image1.webp') }}" alt="Service automobile" class="img-service">
            </figure>
            <div class="block-text">
                <h2>Nos services</h2>
                <p>
                    Nous proposons une large gamme de services pour répondre à tous vos besoins automobiles.
                    De la mécanique générale à la carrosserie, en passant par l'entretien et la réparation.
                </p>
                <a role="button" class="cta-blue home" href="{{ path('app_services') }}">En savoir plus</a>
            </div>
        </div>

        <div class="block-service xp">
            <figure>
                <img src="{{ asset('images/image2.webp') }}" alt="Expérience garage" class="img-xp">
            </figure>
            <div class="block-text">
                <h2>Notre expérience</h2>
                <p>
                    Depuis 2010, nous mettons notre expertise à votre service pour vous offrir un service de qualité.
                    Notre équipe est composée de professionnels passionnés et expérimentés.
                </p>
                <a role="button" class="cta-blue home" href="#">En savoir plus</a>
            </div>
        </div>
    </section>
    <section class="container-fluid home-3">
        <div class="google_maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.784071270999!2d7.23477577613881!3d47.63032847119202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47918f50566824e9%3A0x5ade6b39a2e29d3b!2sGarage%202JC%20automobiles!5e0!3m2!1sfr!2sfr!4v1751363702092!5m2!1sfr!2sfr"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                title="Localisation Garage 2JC">
            </iframe>
        </div>
        <div id="localisation"></div>
        <div class="localisation">
            <h3>2JC Automobiles</h3>
            <address>
                <p><a href="https://maps.app.goo.gl/TzHayJYAhaztaFQP6" target="_blank" rel="noopener"><i class="fa-solid fa-location-dot"></i>18 route de Thann, 68130 ALTKIRCH</p>
                <p><a href="tel:0389400000"><i class="fa-solid fa-phone"></i> +33 3 89 40 00 00</a></p>
                <p><a href="mailto:jerome.midas68@gmail.com"><i class="fa-solid fa-envelope"></i> jerome.midas68@gmail.com</a></p>
                <p>
                    <i class="fa-solid fa-clock"></i><br>
                    <strong>lun :</strong> fermé<br>
                    <strong>mar - ven :</strong> 8h30 - 12h30 / 13h30 - 18h<br>
                    <strong>sam :</strong> 8h - 13h<br>
                    <strong>dim :</strong> fermé
                </p>
                <a role="button" class="cta-blue" href="https://maps.app.goo.gl/TzHayJYAhaztaFQP6" target="_blank" rel="noopener">
                    Se rendre sur place
                </a>
            </address>
        </div>
    </section>
</main>
{% endblock %}