{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Envois de mail de l'administrateur au client{% endblock %}

{% block body %}
<main class="main-admin">
    {% for label, messages in app.flashes %}
    {% set alertClass = (label == 'error') ? 'danger' : label %}
        {% for message in messages %}
            <div class="alert alert-{{ alertClass }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="alert alert-warning" role="alert">
        {% if action is same as('rdvDecline') %}
            <p class="mb-1"><strong>Envoi de mail de refus</strong></p>
            <p class="mb-3">Souhaitez-vous envoyer un mail de refus au client pour de ce rendez-vous du {{ rdv.dateRdv|date("d/m/Y à H:i") }} ?</p>
                <div class="d-flex gap-2">
                    <a class="btn btn-success" role="button" href="mailto:{{ rdv.email }}">
                        <i class="fa-solid fa-check"></i> Proposer une nouvelle date
                    </a>
                    <a class="btn btn-danger" role="button" href="{{ path('gestion_mail', {'id': rdv.id, 'action': 'rdvDecline'}) }}">
                        <i class="fa-solid fa-xmark"></i> Envoyer un mail de refus
                    </a>
                </div>
        {% elseif action is same as('rdvCancel') %}
            <p class="mb-1"><strong>Envoi de mail d'annulation</strong></p>
            <p class="mb-3">Souhaitez-vous envoyer un mail informant l'annulation de ce rendez-vous du {{ rdv.dateRdv|date("d/m/Y à H:i") }} ?</p>
                <div class="d-flex gap-2">
                    <a class="btn btn-success" role="button" href="mailto:{{ rdv.email }}">
                        <i class="fa-solid fa-check"></i> Proposer une nouvelle date
                    </a>
                    <a class="btn btn-danger" role="button" href="{{ path('gestion_mail', {'id': rdv.id, 'action': 'rdvCancel'}) }}">
                        <i class="fa-solid fa-xmark"></i> Envoyer un mail d'annulation
                    </a>
                </div>
        {% elseif action is same as('devisDecline') %}
            <p class="mb-1"><strong>Envoi de mail de refus</strong></p>
            <p class="mb-3">Souhaitez-vous envoyer un mail de refus au client pour ce devis ?</p>
                <div class="d-flex gap-2">
                    <a class="btn btn-danger" role="button" href="{{ path('gestion_mail', {'id': devis.id, 'action': 'devisDecline'}) }}">
                        <i class="fa-solid fa-xmark"></i> Envoyer un mail de refus
                    </a>
                </div>
        {% endif %}
    </div> 
</main>
{% endblock %}
