{% extends 'base.html.twig' %}

{% block title %}Modifier une voiture d'occasion{% endblock %}

{% block body %}

<section class="form add-vo">
    {{ form_start(form)}}
    <div class="form-step active contact">
        <h1>Modifier vehicule</h1>
            <div class="col">
                {{ form_row(form.marque, {'row_attr': {'class': 'form-group'}}) }}
                {{ form_row(form.modele, {'row_attr': {'class': 'form-group'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.anneeFabrication, {'row_attr': {'class': 'form-group'}}) }}
                {{ form_row(form.km, {'row_attr': {'class': 'form-group'}}) }}
                {{ form_row(form.prix, {'row_attr': {'class': 'form-group'}}) }}
            </div>
            <div clas="col mb-3">
                {{ form_row(form.description, {'row_attr': {'class': 'form-group '}}) }}
            </div>
                {{ form_row(form.carburant, {'row_attr': {'class': 'form-group'}}) }}
                {{ form_row(form.url, {'row_attr': {'class': 'form-group'}}) }}            
                {{ form_row(form.photos, {'row_attr': {'class': 'form-group'}}) }}
            <div class="photo-preview">
                {% for photo in photos %}
                    <div class="photo-item">
                        <img src="{{ asset('uploads/vo/' ~ photo.img) }}" alt="Photo" style="max-width:150px;">
                        <a href="{{ path('delete_photo_vo', {'voId': vehicule.id, 'photoId': photo.id}) }}"><i class="fa-regular fa-trash"></i></a>
                    </div>
                {% endfor %}
            </div>
            {{ form_row(form.submit, {'row_attr': {'class': 'form-group submit'}}) }}
            {{ form_end(form)}}
        <a href="{{ path('app_vo') }}">Retour à la liste</a>
    </div>
</section>
{% endblock %}
