{% extends 'base.html.twig' %}

{% block metadescription %}Découvrez notre large sélection de véhicules d'occasion révisés et garantis. Achetez votre future voiture en toute confiance, au meilleur rapport qualité/prix.{% endblock %}
{% block keywords %}voiture d'occasion, véhicule d’occasion, auto occasion, achat voiture pas chère, occasion garantie, voiture révisée, voiture à petit prix, voiture seconde main{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Véhicules d’occasion fiables au meilleur prix – Trouvez votre voiture idéale{% endblock %}

{% block nav %}{{ include('components/_nav_bar_scroll.html.twig') }}{% endblock %}
{% block footer %}{{ include('components/_footer.html.twig') }}{% endblock %}

{% block body %}
<main class="main-home">
      <section class="hero-vo">
        <div class="hero-overlay-vo">
            <div class="hero-content-vo">
                <h1>Notre parc automobile</h1>
                <h2>Démarches administratives simplifiées.</h2>
                <h3>Achetez, roulez, on s’occupe du reste !</h3>
            </div> 
        </div>
    </section>
    <section class="vo-list">
        <div class="voiture-list">
            {% for voiture in voList %}
                <div class="voiture-item">
                    {% if voiture.photos %}   
                    <div id="carouselVO{{ loop.index }}" class="carousel slide vo" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for photo in voiture.photos %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset('uploads/vo/' ~  photo.img) }}" class="d-block w-100" alt="Image de la voiture {{ voiture.marque }} {{ voiture.modele }}">
                                </div>
                        {% endfor %}
                            </div>
                            <button class="carousel-control-prev vo" type="button" data-bs-target="#carouselVO{{ loop.index }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next vo" type="button" data-bs-target="#carouselVO{{ loop.index }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    {% endif %}
                        <div class="voiture-details">
                            <h2>{{ voiture.marque }} {{ voiture.modele }}</h2>
                            {% if voiture.km %}
                            <p><strong>Kilométrage:</strong> {{ voiture.km }} km</p>
                            {% endif %}
                            {% if voiture.carburant %}
                            <p><strong>Carburant:</strong> {{ voiture.carburant }}</p>
                            {% endif %}
                            {% if voiture.anneeFabrication %}
                            <p><strong>Année:</strong> {{ voiture.anneeFabrication }}</p>
                            {% endif %}
                            {% if voiture.prix %}
                            <p><strong>Prix:</strong> {{ voiture.prix }}</p>
                            {% endif %}
                            <p>{{ voiture.description }}</p>
                            {% if app.user and "[ROLE_ADMIN]" %}
                                <a class="icones-vo" href="{{ path('edit_vo', {'id': voiture.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a  class="icones-vo" href="{{ path('delete_vo', {'id': voiture.id}) }}"><i class="fa-regular fa-trash"></i></a>
                            {% endif %}
                        {% if voiture.url %}
                            <a class="btn-links" role="button" target="_blank" href="{{ voiture.url }}">En savoir plus</a>
                        {% else %}
                            <p>Veuillez nous contacter pour plus de renseignement</p>     
                        {% endif %}
                    </div>
                </div>
                {% else %}
                    <p class="no-voiture">Aucune voiture d'occasion disponible pour le moment.</p>
                {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
