{% extends 'base.html.twig' %}

{% block metadescription %}Demandez un devis en ligne pour l'entretien ou la réparation de votre véhicule. Estimation gratuite, rapide et sans engagement dans notre garage.{% endblock %}
{% block keywords %}devis garage Altkirch, chiffrage, devis, prix, informations{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Contactez Garage 2JC à Altkirch – Réparation, Entretien, Devis{% endblock %}

{% block nav %}{{ include('components/_nav_bar_scroll.html.twig') }}{% endblock %}

{% block body %}
<main class="main-home">
    <section class="hero-form-devis">
        <div class="hero-overlay-form">
            <div class="hero-content-form">
                <h1>Demande de devis</h1>
                <h2>Obtenez une estimation rapide et gratuite</h2>
            </div> 
        </div>
    </section>
    <section class="form form-devis">
        <div class="form-container">
            <div class="progress-bar-container">
                <div class="progress-bar-form">
                    <div class="step active" data-step-title="Infos">1</div>
                    <div class="progress-line"></div>
                    <div class="step" data-step-title="Vehicule">2</div>
                    <div class="progress-line"></div>
                    <div class="step" data-step-title="Devis">3</div>
                    <div class="progress-line"></div>
                    <div class="step" data-step-title="Recap">4</div>
                </div>
            </div>

            {{ form_start(devisForm, {'attr': {'id': 'client-form'}}) }}
                <div class="form-step active">
                    <h2>Informations personnelles</h2>
                        {{ form_row(devisForm.nom, {'row_attr': {'class': 'form-group'}}) }}
                        {{ form_row(devisForm.prenom, {'row_attr': {'class': 'form-group'}}) }}
                        {{ form_row(devisForm.email, {'row_attr': {'class': 'form-group'}}) }}
                        {{ form_row(devisForm.tel, {'row_attr': {'class': 'form-group'}}) }}
                        <h3 class="champs-obligatoires">*champs obligatoires</h3>
                </div>
                <div class="form-step">
                    <h2>Informations du véhicule</h2>
                        <div class="form-group">
                            <label for="marque">Veuillez séléctionner une marque*</label>
                            <input list="marques-list" id="marque" name="marque" class="form-control" autocomplete="off">
                            <datalist id="marques-list">
                                {% for marque in marques %}
                                    <option value="{{ marque.Make_Name }}"></option>
                                {% endfor %}
                            </datalist>
                            {{ form_row(devisForm.vehicule.marque) }}
                        </div>
                        <div class="form-group">
                            <label for="modele">Veuillez séléctionner un modèle*</label>
                            <input list="modeles-list" id="modele" name="modele" class="form-control" autocomplete="off">
                            <datalist id="modeles-list"></datalist>
                            {{ form_row(devisForm.vehicule.modele) }}
                        </div>
                            {{ form_row(devisForm.vehicule.anneeFabrication, {'row_attr': {'class': 'form-group'}}) }}
                            {{ form_row(devisForm.vehicule.km, {'row_attr': {'class': 'form-group'}}) }}
                            {{ form_row(devisForm.vehicule.carburant, {'row_attr': {'class': 'form-group form-carburant'}}) }}
                </div>
                <div class="form-step">
                    <h2>Detaillez votre demande</h2>
                        {{ form_row(devisForm.prestation, {'row_attr': {'class': 'form-group' }}) }}
                        {{ form_row(devisForm.text, {'row_attr': {'class': 'form-group'}}) }}
                </div>
                <div class="form-step">
                    <h2>Récapitulatif de votre demande</h2>
                    <div id="reviewDetails">
                        <p><strong>Nom et prénom :</strong> <span data-review="nom"></span> <span data-review="prenom"></span></p>
                        <p><strong>Email :</strong> <span data-review="email"></span></p>
                        <p><strong>Numéro de téléphone :</strong> <span data-review="tel"></span></p>
                        <p><strong>Marque :</strong> <span data-review="marque"></span></p>
                        <p><strong>Modèle :</strong> <span data-review="modele"></span></p>
                        <p><strong>Année de fabrication :</strong> <span data-review="anneeFabrication"></span></p>
                        <p><strong>Nombre de kilomètres :</strong> <span data-review="km"></span></p>
                        <p><strong>Carburant :</strong> <span data-review="carburant"></span></p>
                        <p><strong>Prestation :</strong> <span data-review="prestation"></span></p>
                        <p><strong>Détail :</strong> <span data-review="text"></span></p>
                    </div>
                </div>
                <!-- Navigation -->
                <div class="form-navigation">
                    <button type="button" id="prevBtn" class="btn btn-secondary">Précédent</button>
                    <button type="button" id="nextBtn" class="btn btn-primary">Suivant</button>
                    <button type="submit" id="submitBtn" class="btn btn-primary" style="display: none;">Valider</button>
                </div>
            {{ form_end(devisForm) }}
        </div>
    </section>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/devis.js') }}"></script>
{% endblock %}
