{% extends 'base.html.twig' %}

{% block metadescription %}Prenez rendez-vous en ligne avec le Garage 2JC à Altkirch : réparation, entretien auto, vidange, pneus, contrôle. Simple, rapide et sans engagement.{% endblock %}
{% block keywords %}rendez-vous garage Altkirch, rdv, tarif, prix{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Demande de rendez-vous Garage 2JC à Altkirch – Réparation, Entretien, Devis{% endblock %}

{% block nav %}{{ include('components/_nav_bar.html.twig') }}{% endblock %}
{% block footer %}{{ include('components/_footer.html.twig') }}{% endblock %}

{% block body %}
<main class="main-home">
    <section class="hero-secondaire">
        <div class="hero-overlay-secondaire">
            <div class="hero-content-secondaire">
                {% for label, messages in app.flashes %}
                {% set alertClass = (label == 'error') ? 'danger' : label %}
                    {% for message in messages %}
                        <div class="alert alert-{{ alertClass }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h1>Demande de rendez-vous</h1>
                <h2>Entretien, réparation, contrôle : prenez rendez-vous facilement</h2>
            </div> 
        </div>
    </section>
    <section class="form form-rdv">
        <h3>
            Attention, ceci est une demande de rendez-vous !<br>
            Veuillez noter qu'il est nécéssaire d'attendre une confirmation de notre équipe.
        </h3>
        <p>Pour toute urgence, merci de nous contacter par téléphone au <a href="tel:+33389400101">03 89 40 01 01</strong></a>.</p>
        <div class="form-container">
            <div class="progress-bar-container">
                <div class="progress-bar-form">
                    <div class="step active" data-step-title="Infos">1</div>
                    <div class="progress-line"></div>
                    <div class="step" data-step-title="Vehicule">2</div>
                    <div class="progress-line"></div>
                    <div class="step" data-step-title="Date">3</div>
                    <div class="progress-line"></div>
                    <div class="step" data-step-title="Recap">4</div>
                </div>
            </div>
            {{ form_start(rdvForm, {'attr': {'id': 'client-form'}}) }}
                <div class="form-step active">
                    <h4>Informations personnelles</h4>
                    {{ form_row(rdvForm.nom, {'row_attr': {'class': 'form-group'}}) }}
                    {{ form_row(rdvForm.prenom, {'row_attr': {'class': 'form-group'}}) }}
                    {{ form_row(rdvForm.email, {'row_attr': {'class': 'form-group'}}) }}
                    {{ form_row(rdvForm.tel, {'row_attr': {'class': 'form-group'}}) }}
                    <p class="champs-obligatoires">*champs obligatoires</p>
                </div>
                <div class="form-step">
                    <h4>Informations du véhicule</h4>
                    <div class="form-group">
                        <label for="marque" style="display: none;">Marque</label>
                            <input list="marques-list" id="marque" name="marque" class="form-control" autocomplete="off" placeholder="Veuillez sélectionner une marque*" required>
                            <datalist id="marques-list">
                                {% for marque in marques %}
                                    <option value="{{ marque.Make_Name }}"></option>
                                {% endfor %}
                            </datalist>
                        {{ form_row(rdvForm.vehicule.marque) }}
                    </div>
                    <div class="form-group">
                        <label for="modele" style="display: none;">Modèle</label>
                            <input list="modeles-list" id="modele" name="modele" class="form-control" autocomplete="off" placeholder="Veuillez sélectionner un modèle*" required>
                            <datalist id="modeles-list"></datalist>
                        {{ form_row(rdvForm.vehicule.modele) }}
                    </div>
                    {{ form_row(rdvForm.vehicule.anneeFabrication, {'row_attr': {'class': 'form-group'}}) }}
                    {{ form_row(rdvForm.vehicule.km, {'row_attr': {'class': 'form-group'}}) }}
                    {{ form_row(rdvForm.vehicule.carburant, {'row_attr': {'class': 'form-group'}}) }}
                </div>
                <div class="form-step">
                    <h4>Choisissez un créneau</h4>
                        {{ form_row(rdvForm.prestation, {'row_attr': {'class': 'form-group'}}) }}
                        {{ include('components/_calendar.html.twig') }}
                        {{ form_row(rdvForm.date_rdv) }}
                </div>
                <div class="form-step">
                    <h4>Recapitulatif de votre demande</h4>
                    <div id="reviewDetails">
                        <p><strong>Nom et prenom:</strong> <span data-review="nom"></span> <span data-review="prenom"></span></p>
                        <p><strong>Email:</strong> <span data-review="email"></span></p>
                        <p><strong>Numéro de téléphone:</strong> <span data-review="tel"></span></p>
                        <p><strong>Marque:</strong> <span data-review="marque"></span></p>
                        <p><strong>Modèle:</strong> <span data-review="modele"></span></p>
                        <p><strong>Année de fabrication:</strong> <span data-review="anneeFabrication"></span></p>
                        <p><strong>Nombre de kilomètre:</strong> <span data-review="km"></span></p>
                        <p><strong>Carburant:</strong> <span data-review="carburant"></span></p>
                        <p><strong>Prestation:</strong> <span data-review="prestation"></span></p>
                        <p><strong>Rendez-vous:</strong> <span data-review="dateRdv"></span></p>
                        <span class="consentement">{{ form_row(rdvForm.consentement) }}J'accepte que mes données soient utilisées pour le traitement de ma demande de rendez-vous.</span>
                    </div>
                </div>
                <div class="form-navigation">
                    <button type="button" id="prevBtn" class="btn btn-secondary">Précédent</button>
                    <button type="button" id="nextBtn" class="btn btn-primary">Suivant</button>
                    <button type="submit" id="submitBtn" class="btn btn-primary" style="display: none;">Valider</button>
                </div>
            {{ form_end(rdvForm) }}
        </div>
    </section>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/rdv.js') }}"></script>
{% endblock %}
