{% extends 'base.html.twig' %}

{% block title %}Rdv archivés{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% set alertClass = (label == 'error') ? 'danger' : label %}
    {% for message in messages %}
        <div class="alert alert-{{ alertClass }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>Rendez-vous archivés</h1>

    <h2>Liste des rdv archivés</h2>
    {% for rdv in rdvArchives %}
        <p>Rdv n° {{ rdv.id }} </p>
        <p>Client: {{ rdv.nom }} {{ rdv.prenom }}</p>
        <p>Date du rdv: {{ rdv.dateRdv|date('d/m/Y à H:i') }}</p>
        <p><a href="{{ path('show_rdv', {'id': rdv.id}) }}">Détail du rdv</a></p><br>
    {% else %}
        <p>Aucun rdv archivés.</p>
    {% endfor %}

    <button><a href="{{ path('app_admin_rdv') }}">Voir les rdv en cours</a></button>
{% endblock %}
