{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Hitorique des rendez-vous{% endblock %}

{% block body %}
<main class="main-admin">
    <h1>Historique des rendez-vous</h1>
    {{ include('components/_search_data.html.twig', {'searchForm': searchForm}) }}
        {% if rdvHistorique is not empty %}
          <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th scope="col">Nom</th>
                    <th scope="col">Date du rendez-vous</th>
                    <th scope="col">Prestation</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for rdv in rdvHistorique %}
            <tr>
                <td>{{ rdv.nom }} {{ rdv.prenom }}</td>
                <td>{{ rdv.dateRdv|date('d/m/Y à H:i') }}</td>
                <td>{{ rdv.prestation.nomPrestation }}</td>
                <td><a href="{{ path('show_rdv', {'slug': rdv.slug}) }}">Gérer le rdv</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun rdv dans l'historique.</p>
    {% endif %}
        
        {{ knp_pagination_render(rdvHistorique, 'bundles/custom_pagination.html.twig')}}
</main>
{% endblock %}
