{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Gestion des rendez-vous{% endblock %}

{% block body %}   
<main class="main-admin">
    {% for label, messages in app.flashes %}
    {% set alertClass = (label == 'error') ? 'danger' : label %}
        {% for message in messages %}
            <div class="alert alert-{{ alertClass }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Liste des rendez-vous</h1>
    <h2>Rendez-vous en attente</h2>
    {% if rdvEnCours %}
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th scope="col">Nom</th>
                    <th scope="col">Date du rendez-vous</th>
                    <th scope="col">Prestation</th>
                    <th scope="col">Date de la demande</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for rdv in rdvEnCours %}
            <tr>
                <td>{{ rdv.nom }} {{ rdv.prenom }}</td>
                <td>{{ rdv.dateRdv|date('d/m/Y à H:i') }}</td>
                <td>{{ rdv.prestation.nomPrestation }}</td>
                <td>{{ rdv.dateDemande|date('d/m/Y à H:i') }}</td>
                <td><a href="{{ path('show_rdv', {'slug': rdv.slug}) }}">Gérer le rdv</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
                <tr class="table">   
                    <th scope ="row">Aucun rendez-vous en attente</th>
                </tr>
            </tbody>
        </table> 
    {% endif %}
</main>
{% endblock %}
