{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Gestion des rendez-vous{% endblock %}

{% block body %}   
<main class="main-admin">
    <h1>Liste des rendez-vous</h1>
    <h2>Rendez-vous en attente</h2>
    {% if rdvEnCours %}
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date du rendez-vous</th>
                    <th scope="col">Prestation</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for rdv in rdvEnCours %}
            <tr>
                <th scope="row">{{ rdv.id }}</th>
                <td>{{ rdv.nom }} {{ rdv.prenom }}</td>
                <td>{{ rdv.dateRdv|date('d/m/Y à H:i') }}</td>
                <td>{{ rdv.prestation.nomPrestation }}</td>
                <td><a href="{{ path('show_rdv', {'id': rdv.id}) }}">Gérer le rdv</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table">   
                    <th scope ="row">Aucun rendez-vous en attente</th>
                </tr>
            </tbody>
        </table> 
    {% endif %}

    <h2>Rendez-vous traîtés à venir</h2>
        {% if rdvConfirmer %}
            <table class="table table-striped">
                <thead>
                    <tr class="table-success">
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date du rendez-vous</th>
                        <th scope="col">Prestation</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for rdv in rdvConfirmer %}
                <tr>
                    <th scope="row">{{ rdv.id }}</th>
                    <td>{{ rdv.nom }} {{ rdv.prenom }}</td>
                    <td>{{ rdv.dateRdv|date('d/m/Y à H:i') }}</td>
                    <td>{{ rdv.prestation.nomPrestation }}</td>
                    <td><a href="{{ path('show_rdv', {'id': rdv.id}) }}">Gérer le rdv</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr class="table-success">
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>      
                    <th scope ="row">Aucun rendez-vous à venir.</th>
                </tr>
            </tbody>
        </table> 
    {% endif %}
</main>
{% endblock %}
