{% extends 'base.html.twig' %}

{% block title %}Gestion des rdv{% endblock %}

{% block body %}
<h1>Liste des rendez-vous</h1>
    <h2>Rdv en attente</h2>
    {% for rdv in rdvEnCours %}
        <p>Rdv n° {{ rdv.id }} </p>
        <p>Client: {{ rdv.nom }} {{ rdv.prenom }}</p>
        <p>Date du rdv: {{ rdv.dateRdv|date('d/m/Y à H:i') }}</p>
        <p>Prestation: {{ rdv.prestation.nomPrestation }}</p>
        <p><a href="{{ path('show_rdv', {'id': rdv.id}) }}">Voir détail</a></p><br>
    {% else %}
        <p>Aucun rendez-vous en attente.</p>
    {% endfor %}

    <h2>Rdv traîtés à venir</h2>
    {% for rdv in rdvConfirmer %}
        <p>Rdv n° {{ rdv.id }} </p>
        <p>Client: {{ rdv.nom }} {{ rdv.prenom }}</p>
        <p>Date du rdv: {{ rdv.dateRdv|date('d/m/Y à H:i') }}</p>
        <p>Prestation: {{ rdv.prestation.nomPrestation }}</p>
        <p><a href="{{ path('show_rdv', {'id': rdv.id}) }}">Voir détail</a></p><br>
    {% else %}
        <p>Aucun rendez-vous à venir.</p>
    {% endfor %}    
        <button><a href="{{ path('app_rdv_historique') }}">Voir les rdv clos</a></button>
{% endblock %}
