{% extends 'base.html.twig' %}


{% block robots %}noindex, nofollow{% endblock %}
{% block nav %}{{ include('components/_nav_bar_aside.html.twig') }}{% endblock %}
{% block title %}Rdv n°{{ rdv.id }}{% endblock %}

{% block body %}
<main class="main-admin">
    <h1>Rendez-vous n°{{ rdv.id }}</h1>
    <table class="table table-striped">
        <thead>
            {% if rdv.statut is same as 'En attente' %}
                <tr class="table-warning">
            {% elseif rdv.statut is same as 'Confirmer' %}
                <tr class="table-success">
            {% elseif rdv.statut is same as 'Refuser' or 'Annuler' %}
                <tr class="table-danger">
            {% else %}
                <tr class="table">
                {% endif %}
                    <th scope="col">Date du rendez-vous</th>
                    <th scope="col">Prestation</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Dernière modification</th>
                    <th scope="col">Statut</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>{{ rdv.dateRdv|date('d/m/Y à H:i') }}</strong></td>
                <td>{{ rdv.prestation.nomPrestation }}</td>
                <td>{{ rdv.dateDemande|date('d/m/Y') }}</td>
                <td>{{ rdv.dateModification|date('d/m/Y') }}</td>
                <th class="row">{{ rdv.statut }}</th>
            </tr>
            </tbody>
        </table>
        
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Informations personnelles</h4>
        </div>
        <div class="card-body">
            <p><strong>Nom :</strong> {{ rdv.nom }} {{ rdv.prenom }}</p>
            <p><strong>Email :</strong> {{ rdv.email }}</p>
            <p><strong>Téléphone :</strong> {{ rdv.tel ?? 'Donnée non renseignée' }}</p>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Informations du véhicule</h4>
        </div>
        <div class="card-body">
            <p><strong>Marque :</strong> {{ rdv.vehicule.marque }}</p>
            <p><strong>Modèle :</strong> {{ rdv.vehicule.modele }}</p>
            <p>
                <strong>Année de fabrication :</strong>
                {{ rdv.vehicule.anneeFabrication ?? 'Donnée non renseignée' }}
            </p>
            <p>
                <strong>Kilométrage :</strong>
                {{ rdv.vehicule.km ?? 'Donnée non renseignée' }}
            </p>
            <p>
                <strong>Carburant :</strong>
                {{ rdv.vehicule.carburant.typeCarburant ?? 'Donnée non renseignée' }}
            </p>
        </div>
    </div>
    
    {% if rdv.statut == 'En attente' and rdv.dateRdv < now %}
        <div class="alert alert-warning" role="alert">
            <p class="mb-1"><strong>Ce rendez-vous n'a pas été traîté mais sa date est depassée.</strong></p>
            <p class="mb-3">En cliquant ci-dessous, vous archiverez le rendez-vous et aurez la possiblité de proposer une nouvelle date.</p>
            <div class="d-flex gap-2">
                <a href="{{ path('gestion_rdv_action', {'id': rdv.id, 'action': 'decline'}) }}" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i> Clôturer le rendez-vous
                </a>
            </div>
        </div>

    {% elseif rdv.statut == 'En attente' %}
        <div class="alert alert-warning" role="alert">
            <p class="mb-1"><strong>Ce rendez-vous est en attente de confirmation.</strong></p>
            <p class="mb-3">Veuillez indiquer si le rendez-vous est confirmé ou non.</p>
            <div class="d-flex gap-2">
                <a href="{{ path('gestion_rdv_action', {'id': rdv.id, 'action': 'accept'}) }}" class="btn btn-success"
                    onclick="return confirm('Êtes vous sûre de pouvoir honorer ce rendez-vous ? Cette action entraînera un mail automatique au client.');">   
                    <i class="fa-solid fa-check"></i> Accepter le rendez-vous
                </a>
                <a href="{{ path('gestion_rdv_action', {'id': rdv.id, 'action': 'decline'}) }}" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i> Refuser le rendez-vous
                </a>
            </div>
        </div>

    {% elseif rdv.statut == 'Confirmer' %}
        <a href="{{ path('gestion_rdv_action', {'id': rdv.id, 'action': 'cancel'}) }}" class="btn btn-outline-danger">
            <i class="fa-solid fa-ban"></i> Annuler le rendez-vous
        </a>

    {% else %}
        <a href="{{ path('app_admin_rdv_update', {'id': rdv.id}) }}" class="btn btn-outline-dark"
        onclick="return confirm('Êtes vous sûre de vouloir rendre ce rendez-vous actif à nouveau ?');">
            <i class="fa-solid fa-pencil"></i> Mettre à jour le statut
        </a>
       <a href="{{ path('gestion_rdv_action', {'id': rdv.id, 'action': 'delete'}) }}" class="btn btn-outline-danger" 
       onclick="return confirm('Êtes vous sûre de vouloir supprimer ce rendez-vous ? Cette action est irreversible.');">
            <i class="fa-solid fa-ban"></i> Supprimer le rendez-vous
        </a>
    {% endif %}
</main>
{% endblock %}



   
